public-hoist-pattern[]=husky
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=lint-staged
public-hoist-pattern[]=*stylelint*
public-hoist-pattern[]=*commitlint*
public-hoist-pattern[]=@configs/commit-config
public-hoist-pattern[]=@configs/eslint-config
public-hoist-pattern[]=@configs/prettier-config
public-hoist-pattern[]=@configs/typescript-config
public-hoist-pattern[]=@configs/stylelint-config